<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Politique de confidentialité - Breizh Blok</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	</head>
	<body>
		<div class="container my-3">
			<h1>POLITIQUE DE CONFIDENTIALITÉ DE BREIZH BLOK</h1>

			<p>
				La présente Politique de confidentialité décrit la façon dont vos informations personnelles sont recueillies, utilisées et partagées lorsque vous vous rendez sur l'application Breizh Blok.
			</p>

			<h2 class="fs-3">
				INFORMATIONS PERSONNELLES RECUEILLIES
			</h2>

			<p>
				Lorsque vous vous rendez sur l'application, nous recueillons automatiquement certaines informations concernant votre appareil, les écrans que vous consultez, ainsi que des informations sur la manière dont vous interagissez avec l'application.
			</p>

			<p>
				Nous recueillons les Informations sur l'appareil à l'aide des technologies suivantes :
			</p>
			<ul>
				<li>
					les « fichiers journaux » suivent l'activité de l'API et recueillent des données telles que votre adresse IP, les ressources consultées, et vos données d'horodatage (date et heure).
				</li>
				<li>
					<a href="https://sentry.io/">Sentry</a>
					pour obtenir des informations claires et exploitables sur les problèmes de l'application
				</li>
			</ul>

			<h2 class="fs-3">
				UTILISATION DES DONNÉES DE L'APPAREIL
			</h2>

			<p>
				Nous utilisons les informations sur votre appareil pour reproduire un incident sur l'application suite à un plantage identifié par Sentry et déboguer plus facilement.
			</p>

			<p>
				Pour en savoir plus sur l'utilisation de vos informations personnelles par Sentry, veuillez consulter la page suivante:
				<a href="https://sentry.io/privacy/">https://sentry.io/privacy/</a>
			</p>

			<h2 class="fs-3">
				CHANGEMENTS
			</h2>

			<p>
				Nous pouvons être amenés à modifier la présente politique de confidentialité de temps à autre afin d'y refléter, par exemple, les changements apportés à nos pratiques ou pour d'autres motifs opérationnels, juridiques ou réglementaires.
			</p>

			<h2 class="fs-3">
				NOUS CONTACTER
			</h2>
			Pour en savoir plus sur nos pratiques de confidentialité, si vous avez des questions ou si vous souhaitez déposer une réclamation, veuillez nous contacter au moyen de ce
			<a href="https://breizh-blok.fr/contribute">formulaire de contact</a>.
		</div>
	</body>
</html>
