{% block geo_point_widget %}
	<div id="vue-mapbox">
		<geo-point-field :add-label="'{{ 'add'| trans |u.title }}'" :delete-label="'{{ 'delete'| trans |u.title }}'" :required-field="'{{form.vars.required}}' === '1'">
			<template #form>
				{{form_widget(form)}}
			</template>
		</geo-point-field>
	</div>
{% endblock %}
